:root{
    --c-primary: #f0a500;
    --c-secondary: #cf7500;
    --c-dark: #000000;
    --c-light: #f4f4f4;
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    background: var(--c-dark);
}